page-panier {
    text-align: center;

    ion-card{
        border-radius: 10px !important;
        -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        margin-bottom : 3vh !important;
        .picText{
        text-align: center;
        margin-top: -150px;
        z-index:100;
        position: absolute;
        width: 85%;
        
            p, h1{
                color: white;
                padding-bottom: 10px;
            }
        }   
        .imgWrap {
            position:relative;

            img{
                height: 200px;
                object-fit: cover;
            }

          }
          
          .imgWrap:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background: rgba(0,0,0,0.5);
            z-index:99;
          }
    
          ion-item{
              padding-top : 20px !important;
              padding-bottom : 20px !important;
          }

          .contain{
            position: relative;
            width: 50%; /*Because you only have 3 elements (100 divided by 3)*/
            float: left; /*To get them next to each other if all else fails*/
            color : map-get($colors, listooGreen);

            p{
                font-size : 12px !important;
                text-align: center;
                color : map-get($colors, listooGreen);
            }
        }

        .border{
            border-right: solid 1px #bbbbbb;
            color : map-get($colors, listooPink) !important;
            p{
                color : map-get($colors, listooPink) !important;
            }
        }

        div{
            text-align: center;
        }
    } 
}
