<ion-header>

  <header-small></header-small>

</ion-header>

<ion-content padding>
  <h1>Etat du panier du jour !</h1>

    <ion-card>
      <div class="imgWrap">
        <img src="{{imgUrl}}"/>
      </div>
      <div class="picText">
        <h1>Votre panier</h1>
        <p>{{dateFormated}}</p>
        <button ion-button class="buttonInvert" (click)="changePicture()" >Changer la photo du panier</button>
      </div>
      <ion-item *ngIf="isPublished" style="padding-bottom: 0px !important">
      <div class="contain border" start>
        <div><ion-icon name="basket"></ion-icon></div>
        <p>{{nbReserved}} Paniers réservés</p>
      </div>
      <div class="contain" end>
        <div><ion-icon name="basket"></ion-icon></div>
        <p>{{nbRestants}} Paniers restants</p>
      </div>
      </ion-item>
      <ion-item style="padding-top : 0px !important; padding-bottom: 0px !important" *ngIf="isPublished"><button ion-button (click)="disableAnnonce()">Dépublier</button></ion-item>
      <ion-item *ngIf="!isPublished">
        <p>Votre panier n'est pas encore publié !</p>
        <button *ngIf="hasAnnonce"  ion-button (click)="activeAnnonce()">Publier</button>
      </ion-item>
      </ion-card>
      <button *ngIf="hasAnnonce" ion-button full (click)="goDetail()">Voir le détail du panier</button>

</ion-content>
