page-start-config {
    
    .fixed-content{
        background-color : map-get($colors, listooPink);
    }

    ion-content{
        color : white !important;
    }

    ion-icon{
        font-size: 2.2rem !important;
        width: 2.2rem;
        text-align: center;
        background-color: rgba($color: #fff, $alpha: 0.3);
        border-radius : 10px;
    }

    button{
        position: absolute !important;
        bottom: 2%;
        width: 90% !important;
    }

    img{
        padding-top: 20%;
        padding-left: 20%;
    }
}
