<ion-header >
  <ion-navbar *ngIf="type != 'detail'">
    <ion-buttons start>
      <button ion-button ion-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>   
  <header-big></header-big>
  </ion-navbar>
  <ion-icon (click)="goBack()" *ngIf="type == 'detail'" name="arrow-round-back"></ion-icon>
  <header-small *ngIf="type == 'detail'"></header-small>
</ion-header>

<ion-content *ngIf="type != 'detail'">

  <ion-slides pager>
    <ion-slide>
        <ion-item>
          <ion-label floating>Nombre de paquets</ion-label>
          <ion-input (ionChange)="valueChanged()" [(ngModel)]="qtite" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Valeur initiale</ion-label>
          <ion-select (ionChange)="valueChanged()" [(ngModel)]="prix" multiple="false" cancelText="Annuler"
            okText="Valider">
            <ion-option  value="10000">10 000</ion-option>
            <ion-option  value="15000">15 000</ion-option>
            <ion-option  value="22000">22 000</ion-option>
            <ion-option  value="30000">30 000</ion-option>
            <ion-option  value="40000">40 000</ion-option>
          </ion-select>
        </ion-item>
        <div id="resQtite">
          <p>Gain total de</p>
          <p class="whiteQtite">{{totalGain}} COP</p>
          <p>Pour</p>
          <p class="whiteQtite">{{qtite}} paquets</p>
        </div>
      <button ion-button (click)="slideTo('1')">Suivant</button>
    </ion-slide>
    <ion-slide>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="desc"></ion-textarea>
        </ion-item>
        <p>Plage horaire de récupération</p>
        <ion-item>
          <ion-label>De</ion-label>
          <ion-datetime (ionChange)="dateStartChanged()" minuteValues="0,30" displayFormat="HH:mm" min="{{minStart}}" [(ngModel)]="startHour"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>A</ion-label>
          <ion-datetime disabled="{{isDisabled}}" (ionChange)="dateEndChanged()" minuteValues="0,30" min="{{minEnd}}" displayFormat="HH:mm" [(ngModel)]="endHour"></ion-datetime>
        </ion-item>
      <button ion-button (click)="slideTo('2')">Suivant</button>
    </ion-slide>
    <ion-slide>
      <h2 class="slide-title" >Third slide</h2>
      <p>Description bla bla bla fke e e</p>
      <button ion-button (click)="savePanier()">Terminer</button>
    </ion-slide>
  </ion-slides>

  </ion-content>

  <ion-content *ngIf="type == 'detail'" padding>
            
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea disabled="true" [(ngModel)]="desc"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label floating>Prix de vente par panier</ion-label>
        <ion-select disabled="true" (ionChange)="valueChanged()" [(ngModel)]="prix" multiple="false" cancelText="Annuler"
          okText="Valider">
          <ion-option  value="10000">10 000</ion-option>
          <ion-option  value="15000">15 000</ion-option>
          <ion-option  value="22000">22 000</ion-option>
          <ion-option  value="30000">30 000</ion-option>
          <ion-option  value="40000">40 000</ion-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-label floating>Nombre de paniers</ion-label>
      <ion-input disabled="true" (ionChange)="valueChanged()" [(ngModel)]="qtite" type="number"></ion-input>
    </ion-item>
    <p>Plage horaire de récupération</p>
    <ion-item>
      <ion-label>De</ion-label>
      <ion-datetime disabled="true" (ionChange)="dateStartChanged()" minuteValues="0,30" displayFormat="HH:mm" [(ngModel)]="startHour"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>A</ion-label>
      <ion-datetime disabled="true" (ionChange)="dateEndChanged()" minuteValues="0,30" min="{{minEnd}}" displayFormat="HH:mm" [(ngModel)]="endHour"></ion-datetime>
    </ion-item>
    <button ion-button (click)="editPanier()">Modifier</button>
    
    </ion-content>
